<div class="text-center py-4 lg:px-4 -mt-8">
    <a href="https://www.eventbrite.com/e/body-being-och-effortless-power-registrering-64065980071" class="no-underline">
        <div class="px-4 py-2 bg-indigo-700 items-center text-indigo-100 leading-none rounded md:rounded-full flex lg:inline-flex shadow-md">
            <span class="font-semibold mr-4 text-left flex-auto">Under sommaren kan du träna med oss i Göteborg!</span>
            <span class="flex rounded md:rounded-full bg-green-100 uppercase px-2 py-1 text-xs font-bold mr-3 text-green-500">Läs mer</span>
            <svg class="fill-current opacity-75 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
    </a>
</div>
