<ul class="tabs">
    <li class="tab bg-red-100 rounded shadow-md p-2 mb-4">
        <input type="checkbox" id="chk1">
        <label class="tab label text-lg" for="chk1">Item 1</label>
        <div class="tab content">
            <p>
                ......
            </p>
        </div>
    </li>
    <li class="tab bg-red-100 rounded shadow-md p-2">
        <input type="checkbox" id="chk2">
        <label class="tab label" for="chk2">Item 2</label>
        <div class="tab content">
            <h2>title 2</h2>
            <p>foo</p>
        </div>
    </li>
</ul>
