.tabs {
    overflow: hidden;
}

.tab {
    width: 100%;
    overflow: hidden;

    &.label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        /* Icon */
        &:hover {}

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }

    &.content {
        max-height: 0;
        padding: 0 0.5em;
        transition: all .35s;
    }

    &.close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;

        &:hover {}
    }

    & input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked {
            &+.tab.label {
                &::after {
                    transform: rotate(90deg);
                }
            }

            &~.tab.content {
                max-height: 100vh;
                padding: 1em;
            }
        }
    }

}